{% load static i18n %}

<nav class="main-navbar navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="{% url 'shop:room-list' %}">
            {% trans "Cinema" %}
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:room-list' %}">
                        {% trans "Rooms" %}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                        >
                            <i class="fa fa-user pe-1"></i>
                            {% if user.get_full_name %}
                                {{ user.get_full_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'user:profile' %}">
                                    {% trans "Profile" %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'user:sign-out' %}">
                                    {% trans "Sign Out" %}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:sign-in' %}">
                            {% trans "Sign in" %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
