.text-justify {
    text-align: justify !important;
}

.release-not-available {
    opacity: 0.2;
}

.seat {
    position: absolute;
    margin: 5px;
    width: 35px;
    height: 25px;
    background: #dddddd;
    text-align: center;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}

.seat:hover {
    background: #bbbbbb;
}

.seat.is-reserved {
    background: #cb5a5a;
    cursor: not-allowed;
}
